<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Editer un commentaire</title>
  </head>
  <body>
    <section class="container">
      <div class="row mt-5 mb-3">
        <div class="col">
          <h1 class="text-center">Modifier votre commentaire</h1>
          <br><br>
        </div>
      </div>

        <%= form_for @comment, url: gossip_comment_path(@comment.gossip.id, @comment.id) do |f|%>
          <div class="form-group">
            <%=f.text_area :content, class: 'form-control'%>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Editer</button>
            <a href="<%= gossip_comment_path(@comment.gossip.id, @comment.id) %>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="delete">Delete</a>
          </div>
        <%end%>

    </section>
  </body>
</html>
