<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
      <section class="jumbotron text-center mb-0">
        <div class="container mt-3 mt-md-4 mt-lg-1 pt-3 pt-md-3 pt-lg-3" id="jumjum">
          <div class="row justify-content-md-center">
            <div class="col-sm-6 col-sm-offset-3 mb-3">
              <br><br>
              <div class="card-deck mb-3">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text">
                      <h3 class="text-center border-bottom pb-4 mb-4">To contact me : </h3>
                      <B>first name :</B> Sashiire<br>
                      <B>last name :</B>Dev<br>
                      <B>email :</B> alishiret@gmail.com<br>
                      <B>age :</B> 29<br>
                      <B>city :</B> Lyon<br>
                    </p>
                    <small class="text-muted">Sashiire, Octobre 2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="700" height="300" src="https://maps.google.com/maps?width=700&amp;height=300&amp;hl=en&amp;q=145%20Cours%20Lafayette%2C%2069006%20Lyon+(Vous%20pouvez%20me%20retourver%20au%20tuba%20Lyon%20%3A))&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/fr/">https://embedgooglemaps.com/fr/</a> & <a href="http://botonmegusta.org/">boton megusta</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
          </div>
        </div>
      </section>
  </body>
</html>
